<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all teams in the Atlantic Soccer Conference</li>
            @{
                <ul>
                @foreach(Team t in ViewBag.AtlanticTeams)
                {
                    <li>@t.TeamName</li>
                }
                </ul>
            }
            <li>...all (current) players on the Boston Penguins (Hint: Boston is the Location, Penguins is the TeamName)</li>
            @{
                <ul>
                @foreach(Player p in ViewBag.BostonPenguins)
                {
                    <li>@p.FirstName</li>
                }
                </ul>
            }
            <li>...all (current) players in the International Collegiate Baseball Conference</li>
            @{
                <ul>
                @foreach(Player iccbp in ViewBag.ICCBPlayers)
                {
                    <li>@iccbp.FirstName</li>
                }
                </ul>
            }
            <li>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</li>
            @{
                <ul>
                @foreach(Player lopez in ViewBag.ACAMFLopezPlayers)
                {
                    <li>@lopez.FirstName</li>
                }
                </ul>
            }
            <li>...all football players</li>
            @{
                <ul>
                @foreach(Player all in ViewBag.FootballPlayers)
                {
                    <li>@all.FirstName</li>
                }
                </ul>
            }
            <li>...all teams with a (current) player named "Sophia"</li>
            @{
                <ul>
                @foreach(Team sophie in ViewBag.TeamSophia)
                {
                    <li>@sophie.TeamName</li>
                }
                </ul>
            }
            <li>...all leagues with a (current) player named "Sophia"</li>
            @{
                <ul>
                @foreach(League sophie in ViewBag.LeagueSophia)
                {
                    <li>@sophie.Name</li>
                }
                </ul>
            }
            <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</li>
            @{
                <ul>
                @foreach(Player flores in ViewBag.noFLores)
                {
                    <li>@flores.FirstName</li>
                }
                </ul>
            }
        </ol>
    </div>
</div>