@{
    ViewData["Title"] = "Home Page";
}
@model User
<div class="row my-5 m-auto">
            <div class="card col-8 p-5 m-auto">
                @{
                <form action="formsubmit" method="post">
                    <div class="row g-3 align-items-center mb-3 col-8 justify-content-between">
                        <div class="col-auto">
                            <label for="Name" class="col-form-label">Your Name</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" name='Name' id="Name" class="form-control" value="@Model.Name" readonly>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3 col-8 justify-content-between">
                        <div class="col-auto">
                            <label for="DojoLocation" class="col-form-label">Dojo Location</label>
                        </div>
                        <div class="col-auto">
                            <select name="DojoLocation" id="DojoLocation" class="form-select" disabled>
                                <option value="@Model.DojoLocation">@Model.DojoLocation</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center mb-3 col-8 justify-content-between">
                        <div class="col-auto">
                            <label for="FavLang" class="col-form-label">Favorite Language</label>
                        </div>
                        <div class="col-auto">
                            <select name="FavLang" id="FavLang" class="form-select" disabled>
                                <option value="@Model.FavLang">@Model.FavLang</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            name="Comment" readonly>@Model.Comment</textarea>
                    </div>
                    <br>
                </form>
                <a href="/" class="btn btn-primary">Back</a>
            }
            </div>
        </div>
